
:root {
    --color-primary: #0063db; 
    --color-title: #1676eb; 
    --color-text: #21538f; 
    --color-bg: #eff2f7; 
    --color-border: #dddddd; 
    --color-black: #000000;
}
  
  
/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth; }
html, body {font: 400 16px/1.3 'Pretendard', sans-serif;  color: #000000; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}

body.hidden { overflow: hidden;}
body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.25); z-index: 99;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
body.hidden::before { opacity: 1;  pointer-events: auto;}
  
.wrap {width: 100%; position: relative; }
.inner {position: relative; width: 90%; max-width: 1280px;  margin-left: auto; margin-right: auto;}
.sub_titbox { width: 100%; margin: 3.75rem 0; position: relative; text-align: center;}
.sub_titbox .sub { font-size: 1rem; letter-spacing: 1.5px; color: var(--color-primary); margin-bottom: 5px;}
.sub_titbox .tit { font-size: 3rem; line-height: 1.3; letter-spacing: -1px; color: var(--color-black);  font-weight: 700;  }
.sub_inner { width: 90%; max-width: 1200px; margin: auto; position: relative;}
.font_nav { width: 100%; border-top: 5px solid var(--color-primary);  border-bottom: 5px solid var(--color-primary);  padding: 3.125rem 0; margin-bottom: 5rem;}
.font_nav > li { width: 100%;  vertical-align: top;  display: inline-block;  padding: 0 2.5rem 2.5rem;  box-sizing: border-box;  border-bottom: 1px solid var(--color-border); margin-bottom: 2.5rem}
.font_nav > li:last-child {padding-bottom: 0px; margin-bottom: 0px; border-bottom: 0px;}
.font_nav > li > .tit { font-size: 3rem;  color: var(--color-title); font-weight: 700; line-height: 1.3; margin-bottom: 1.5rem;}
.font_nav > li > .tit .kr { font-size: 0.65em; font-weight: 400; margin-left: 1rem;  display: inline-block;}
.font_nav > li > .sample { display: flex; flex-wrap: wrap; gap: 1rem;  padding: 3rem;  background: var(--color-bg); border-radius: 1.5rem;}
.font_nav > li > .sample p { font-size: 1.5rem; color: var(--color-text); line-height: 1.3; width: calc((100% - 1rem* 2) / 3);}
.font_nav > li > .sample .fw_100{font-weight: 100;}
.font_nav > li > .sample .fw_200{font-weight: 200;}
.font_nav > li > .sample .fw_300{font-weight: 300;}
.font_nav > li > .sample .fw_400{font-weight: 400;}
.font_nav > li > .sample .fw_500{font-weight: 500;}
.font_nav > li > .sample .fw_600{font-weight: 600;}
.font_nav > li > .sample .fw_700{font-weight: 700;}
.font_nav > li > .sample .fw_800{font-weight: 800;}
.font_nav > li > .sample .fw_900{font-weight: 900;}



/* Mobile */
@media screen and (max-width: 599px) {
    html {font-size: 10px !important;}  
    .font_nav { border-top: 3px solid var(--color-primary);border-bottom: 3px solid var(--color-primary); padding: 3rem 0;}
    .font_nav > li { padding: 0 0rem 2rem;}
    .font_nav > li > .tit { font-size: 2.2rem; }
    .font_nav > li > .tit .kr {font-size: 0.8em; margin-left: 0.5em; }
    .font_nav > li > .sample { padding: 2rem;}
    .font_nav > li > .sample p { width: calc((100% - 1rem* 1) / 2);}
}



/* Pretendard */
.Pretendard {font-family: "Pretendard", sans-serif;}

/* Paperlogy */
.Paperlogy {font-family: "Paperlogy", sans-serif;}

/* GmarketSans */
.GmarketSans {font-family: "GmarketSans", sans-serif;}

