
:root {
	--color_main: #1753f2;
	--color_sub1: #1676eb;
	--color_sub2: #fdfaf3;
	--color_black: #353c50;
}
  
  
/* common */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box;}
body {margin: 0; padding: 0; -ms-overflow-style: none; scrollbar-width: none; }
body::-webkit-scrollbar {display: none;}
html { scroll-behavior: smooth; }
html, body {font: 400 16px/1.3 'Pretendard', sans-serif;  color: #000000; width: 100%; position: relative;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit; -webkit-tap-highlight-color: transparent;}
img {max-width: 100%;}
button { font-family: inherit; border: none; background-color: transparent; outline: 0;  cursor: pointer; }
input,textarea,button,select {font-family: inherit;}

body.hidden { overflow: hidden;}
body::before { content: "";  position: fixed;  left: 0;  top: 0;  width: 100%;  height: 100%; background-color: rgba(0,0,0,0.25); z-index: 99;  transition: all 0.4s ease; opacity: 0; pointer-events: none;cursor: pointer;}
body.hidden::before { opacity: 1;  pointer-events: auto;}
  
.wrap {width: 100%; position: relative;}
.inner {position: relative; width: 90%; max-width: 1280px;  margin-left: auto; margin-right: auto;}

.font_title {}
.font_list {}
.font_list .font_item{}
.font_list .font_item .font_tit{}
.font_list .font_item .font_desc{}


/* Pretendard */
@import url('https://marron-de.github.io/webfont/Pretendard/Pretendard.css');
.Pretendard {font-family: "Pretendard", sans-serif;}

/* Paperlogy */
@import url('https://marron-de.github.io/webfont/Paperlogy/Paperlogy.css');
.Paperlogy {font-family: "Paperlogy", sans-serif;}

/* GmarketSans */
@import url('https://marron-de.github.io/webfont/GmarketSans/GmarketSans.css');
.GmarketSans {font-family: "GmarketSans", sans-serif;}