
/* Pretendard */
@import url('https://marron-de.github.io/webfont/Pretendard/Pretendard.css');
.Pretendard {font-family: "Pretendard", sans-serif;}

/* Paperlogy */
@import url('https://marron-de.github.io/webfont/Paperlogy/Paperlogy.css');
.Paperlogy {font-family: "Paperlogy", sans-serif;}

/* GmarketSans */
@import url('https://marron-de.github.io/webfont/GmarketSans/GmarketSans.css');
.GmarketSans {font-family: "GmarketSans", sans-serif;}



